data/240708 Catalogos.xlsx
data/240708 Descriptores_.xlsx
data/Actualizaciones en la presentación de información referente a casos de COVID.pdf
data/COVID19MEXICO.csv
data/COVID19MEXICO2020.csv
data/COVID19MEXICO2021.csv
data/COVID19MEXICO2022.csv
data/COVID19MEXICO2023.csv
data/df_cox2023.csv
data/df_cox2022.csv
data/df_cox2021.csv
data/df_cox_completo.csv
data/df_cox2020.csv
data/df_cox2024.csv
data/COVID19MEXICO2025.csv
data/df_cox2025.csv
